@{
    ViewData["Title"] = "Inicio de página";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>

</div>
<div>
   <center> <p>Le doy la bienvenida a mi primera página</p> <img src="https://es.rankiapro.com/wp-content/uploads/2019/08/fondo-tecnologico-preferido-selectores.jpg" alt=""></center> 
</div>
